html {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(0, 0, 0); */
    color: rgb(16, 146, 22);
    background-image: url("../img/background-matrix-style_88211-270.jpg");

    -webkit-animation: myfirst 5s infinite;
    animation: myfirst 5s infinite;
    margin: 0;
    padding: 0;
    font-family: monospace, 'Courier New', Courier;
    font-size: 1.2em;
}

@-webkit-keyframes myfirst {
    0% {opacity: 1;}
    25% {opacity: .8;}
    75% {opacity: .8;}
    100% {opacity: .1;}
 } 
  
@keyframes myfirst {
    0% {opacity: 1;}
    25% {opacity: 1;}
    75% {opacity: .8;}
    100% {opacity: 1;}
}
main{
    background-color: rgb(0, 0, 0);
    opacity: .99;
    min-height: 600px;
    padding-bottom: 10px;
}

nav, section {
    margin: 0px 0px 15px;
    padding: 10px 20px;
    background-color: rgb(22, 21, 18);
    border-radius: 5px;  
}

nav {
    text-transform: uppercase;
}
header {
    margin: 0px 0px 15px;
    padding-bottom: 10px;
}
header, footer {
    border: 4px groove rgb(16, 146, 22) ;
    border-radius: 5px;
    text-align: center;
}

#menu {
    min-height: 300px;
}

footer {
    padding: 10px 0 5px;
    vertical-align: text-top;
    line-height: 40px;
}



li, a, a:visited {
    color: rgb(33, 101, 179);
}

header h4 b {
    color:rgb(180, 180, 9);
    
}

h3 {
    text-decoration: underline;
}



#movies ul {
    list-style-type: decimal-leading-zero;
    margin-left: 24px;
}

#movies ul li span{
    vertical-align: -webkit-baseline-middle;
    padding: 3px 5px;
}

#movies ul li span:nth-child(3)::after{
    content:"🌟";
}

#mood ul li img{
    width: 400px;
}

.typing {
    animation: fly-in 6s steps(25, end), typing 1s infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid green;
    /* width: ; */
}

@keyframes fly-in {
    0% {width:0}
    25% {width:60%}
    45% {width:39%}
    65% {width:39%}
    100% {width:100%}
}

@keyframes typing {
    0%, 100% {border-color:transparent }
    50% {border-color: green}
}